@CHARSET "ISO-8859-1";

input, textarea { border: 1px solid #ccc }

tr { margin: 5px; padding:5px;}

.alert { font-size:15px; color:red; font-weight:bolder }

.profile{   
    background:transparent url(images/user.jpg) no-repeat;   
}
