.preload1 {background: url(css/images/tab-btm-inactive-right-bg12.gif);}
.preload2 {background: url(css/images/tab-btm-inactive-right-bg12.gif);}
.dropdownmenus {
	display:block;
	padding:3px 0 0 4px;
	margin:0;
	list-style:none;
	height:22px;
	background: url(css/images/breadcrumbs_bg.gif);
	position:relative;
	z-index:1;
	font-family:arial, verdana, sans-serif;
}
.dropdownmenu12 {
	display:block;
	padding:3px 0 0 4px;
	margin:0;
	list-style:none;
	height:22px;
	background: url(css/images/masthead_bg.gif);
	position:relative;
	z-index:1;
	font-family:arial, verdana, sans-serif;
}
.dropdownmenu {
	display:block;
	padding:3px 0 0 4px;
	margin:0;
	list-style:none;
	height:22px;
	background: url(css/images/gradient-bg.gif);
	position:relative;
	z-index:1;
	font-family:arial, verdana, sans-serif;
}
.dropdownmenu li.top {display:block; float:left;}
.dropdownmenu li a.top_link {z-index:30;display:block;float:left; height:22px; line-height:22px; color:#153E7E; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 6px; cursor:pointer;background: url(css/images/tab-btm-inactive-right-bg12.gif);}
.dropdownmenu li a.top_link span {z-index:30;float:left; display:block; padding:0 18px 0 12px; height:22px;background:url(css/images/tab-btm-inactive-right-bg12.gif) right top;}
.dropdownmenu li a.top_link span.down {z-index:30;float:left; display:block; padding:0 24px 0 12px; height:22px; background:url(css/images/tab-btm-inactive-right-bg12.gif) no-repeat right top;}
.dropdownmenu li a.top_link:hover {z-index:30;color:#153E7E; background: url(css/images/tab-btm-inactive-right-bg12.gif) no-repeat;}
.dropdownmenu li a.top_link:hover span {z-index:30;background:url(css/images/tab-btm-inactive-right-bg12.gif) no-repeat right top;}
.dropdownmenu li a.top_link:hover span.down {z-index:30;background:url(css/images/tab-btm-inactive-right-bg12.gif) no-repeat right top;}
.dropdownmenu li a.selected {z-index:30;display:block; float:left; height:22px; line-height:22px; color:#153E7E; text-decoration:none;background: url(css/images/tab-btm-inactive-right-bg12.gif);}
.dropdownmenu li a.selected  span {z-index:30;float:left; display:block; padding:0 18px 0 12px; height:22px;background:url(css/images/tab-btm-inactive-right-bg12.gif) right top;}








.dropdownmenu li:hover > a.top_link {z-index:30;color:#153E7E; background: url(css/images/gradient-bg.gif) no-repeat;}
.dropdownmenu li:hover > a.top_link span {z-index:30;background:url(css/images/gradient-bg.gif) no-repeat right top;}
.dropdownmenu li:hover > a.top_link span.down {z-index:30;background:url(css/images/gradient-bg.gif) no-repeat right top;}


.dropdownmenu table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */

.dropdownmenu a:hover {visibility:visible; position:relative; z-index:200;}
.dropdownmenu li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
.dropdownmenu ul, 
.dropdownmenu :hover ul ul, 
.dropdownmenu :hover ul :hover ul ul,
.dropdownmenu :hover ul :hover ul :hover ul ul,
.dropdownmenu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.dropdownmenu :hover ul.sub1 {z-index:30;left:0; top:21px; background: #fff; padding:3px; border:1px solid #2a677f; white-space:nowrap; width:160px; height:auto; z-index:300; border-top:0px;}
.dropdownmenu :hover ul.sub1 li {z-index:30;display:block; height:20px; position:relative; float:left; width:160px; font-weight:normal;}
.dropdownmenu :hover ul.sub1 li a {z-index:30;display:block; font-size:11px; height:20px; width:160px; line-height:20px; text-indent:5px; color:#000; text-decoration:none;}
.dropdownmenu :hover ul.sub1 li a.fly {z-index:30;background:#fff url(arrow.gif) 150px 7px no-repeat;}
.dropdownmenu :hover ul.sub1 li a:hover {z-index:30;background:#153E7E; color:#fff;}
.dropdownmenu :hover ul.sub1 li a.fly:hover {z-index:30;background:#153E7E url(css/images/gradient-bg.gif) 150px 7px no-repeat; color:#fff;}
.dropdownmenu :hover ul li:hover > a.fly {z-index:30;background:#153E7E url(css/images/gradient-bg.gif) 150px 7px no-repeat; color:#153E7E;} 

.dropdownmenu :hover ul :hover ul,
.dropdownmenu :hover ul :hover ul :hover ul,
.dropdownmenu :hover ul :hover ul :hover ul :hover ul,
.dropdownmenu :hover ul :hover ul :hover ul :hover ul :hover ul
{left:160px; top:0px; background: #fff; padding:3px; border:1px solid #153E7E; white-space:nowrap; width:160px; z-index:1; height:auto;}
.dropdownmenu  IFRAME {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: -9999px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: -9999px; HEIGHT: 0px
}
/* Default link styling */
.dropdownmenu :hover IFRAME.one {
	LEFT: 0px; TOP: 35px; 
}
.dropdownmenu :hover IFRAME.two {
	LEFT: 0px;  TOP: 35px;
}
